# Esri ZIP Codes with race/ethnicity

In [1]:
import pandas as pd
import geopandas as gpd

### Read data

#### ZIP Codes file with race/ethnicity demographics

In [18]:
# From: https://services.arcgis.com/P3ePLMYs2RVChkJx/ArcGIS/rest/services/USA_ZIP_Codes/FeatureServer/0

In [14]:
zips_race = gpd.read_file('https://grid-news-static-files.s3.us-east-2.amazonaws.com/data/demogragrphics_zips.geojson')

In [19]:
zips_race.columns = zips_race.columns.str.strip().str.lower().str.replace(' ', '_', regex=False)\
                    .str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace('-','_', regex=False)

In [20]:
zips_race[['objectid', 'zip', 'po_name', 'pop2012', 'white', 'black', 'ameri_es',
       'asian', 'hawn_pi', 'hispanic', 'other', 'mult_race', 'med_age',
       'ave_hh_sz', 'marhh_chd', 'families', 'ave_fam_sz', 'hse_units', 'sqmi']].to_csv('data/ca-zip-codes-esri-demographics.csv', index=False)

#### Drop places without a population total

In [28]:
zips = zips_race[zips_race['pop2012'] > 0].copy()

In [30]:
zips.head()

,fid,objectid,zip,po_name,state,pop2010,pop10_sqmi,pop2012,pop12_sqmi,white,...,mhh_child,fhh_child,families,ave_fam_sz,hse_units,vacant,owner_occ,renter_occ,sqmi,geometry
1,2,500,73737,Fairview,OK,3577,10.7,3599,10.8,3369,...,34,94,1029,2.78,1821,275,1165,381,333.3,"POLYGON ((-98.76304 36.44684, -98.75651 36.447..."
3,4,501,73739,Goltry,OK,342,5.6,354,5.8,327,...,3,4,97,2.92,178,35,114,29,61.4,"POLYGON ((-98.10930 36.60817, -98.10929 36.593..."
4,5,102,99661,Sand Point,AK,1033,2.2,986,2.1,177,...,24,30,183,2.84,327,56,160,111,461.0,"MULTIPOLYGON (((-160.71030 55.40308, -160.7037..."
5,6,502,73741,Helena,OK,1677,14.6,1741,15.1,1292,...,6,18,196,2.86,358,76,212,70,115.2,"POLYGON ((-98.34233 36.66658, -98.34000 36.666..."
6,7,503,73742,Hennessey,OK,4424,12.5,4366,12.4,3509,...,45,97,1217,3.15,1878,218,1311,349,353.5,"POLYGON ((-98.10388 36.16487, -98.09735 36.165..."