# Get Art Garfunkel's books

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1500

In [4]:
key = "47936_335a396409a8f4b3e61fbec5c5d2bc36"

In [5]:
dfs = []
for i in [x for x in range(1, 13) if x != 5]:
    dfs.append(
        pd.read_html(
            f"https://www.artgarfunkel.com/library/list{i}.html", skiprows=(1)
        )[0]
    )
    df = pd.concat(dfs)

In [6]:
df.columns = ["id", "date", "author", "title", "published", "pages"]

In [7]:
df["is_fave"] = df["title"].str.contains("*", regex=False)

In [8]:
df["title"] = df["title"].str.replace(" *", "", regex=False)

In [9]:
df["pages"] = df["pages"].str.replace(" pp.", "", regex=False).fillna(np.nan)

In [10]:
df["date"] = df["date"].str.replace(".", " ", regex=False)

In [11]:
df["id"] = df["id"].astype(str).str.replace(".0", "", regex=False)

In [12]:
df.head()

,id,date,author,title,published,pages,is_fave
0,1,Jun 1968,Jean-Jacques Rousseau,The Confessions,1781,606,True
1,2,Jun 1968,Erich Fromm,The Art of Loving,1956,146,True
2,3,Jun 1968,Mark Twain,The Adventures of Huckleberry Finn,NaN,288,False
3,4,Jul 1968,James Thurber,My Life and Hard Times,1933,115,False
4,5,Jul 1968,William Shakespeare,Romeo and Juliet,1596,146,False

In [13]:
authors = list(df.author.unique())

In [14]:
import requests as req
import time

h = {"Authorization": key}

In [17]:
author_list = []

for a in authors:
    resp = req.get(f"https://api2.isbndb.com/author/{a}", headers=h)
    author_list.append(resp.json())

In [80]:
from collections import defaultdict

In [97]:
resp.json()

{'message': 'Forbidden'}