# Which animals are most popular in Amazon stuff animals?

In [1]:
%load_ext lab_black

In [2]:
from requests_html import HTMLSession
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

### Read in stuffed animal product data from Amazon

In [4]:
df = pd.read_csv("data/raw/products_2022_02_05.csv")

In [5]:
df = df.drop_duplicates(subset="title")

### List of common animals

In [6]:
animals = [
    "Aardvark",
    "Albatross",
    "Alligator",
    "Alpaca",
    "Ant",
    "Anteater",
    "Antelope",
    "Ape",
    "Armadillo",
    "Donkey",
    "Baboon",
    "Badger",
    "Barracuda",
    "Bat",
    "Bear",
    "Beaver",
    "Bee",
    "Bison",
    "Boar",
    "Buffalo",
    "Butterfly",
    "Camel",
    "Capybara",
    "Caribou",
    "Cassowary",
    "Cat",
    "Caterpillar",
    "Cattle",
    "Chamois",
    "Cheetah",
    "Chicken",
    "Chimpanzee",
    "Chinchilla",
    "Chough",
    "Clam",
    "Cobra",
    "Cockroach",
    "Cod",
    "Cormorant",
    "Coyote",
    "Crab",
    "Crane",
    "Crocodile",
    "Crow",
    "Curlew",
    "Deer",
    "Dinosaur",
    "Dog",
    "Dogfish",
    "Dolphin",
    "Dotterel",
    "Dove",
    "Dragonfly",
    "Duck",
    "Dugong",
    "Dunlin",
    "Eagle",
    "Echidna",
    "Eel",
    "Eland",
    "Elephant",
    "Elk",
    "Emu",
    "Falcon",
    "Ferret",
    "Finch",
    "Fish",
    "Flamingo",
    "Fly",
    "Fox",
    "Frog",
    "Gaur",
    "Gazelle",
    "Gerbil",
    "Giraffe",
    "Gnat",
    "Gnu",
    "Goat",
    "Goldfinch",
    "Goldfish",
    "Goose",
    "Gorilla",
    "Goshawk",
    "Grasshopper",
    "Grouse",
    "Guanaco",
    "Gull",
    "Hamster",
    "Hare",
    "Hawk",
    "Hedgehog",
    "Heron",
    "Herring",
    "Hippopotamus",
    "Hornet",
    "Horse",
    "Human",
    "Hummingbird",
    "Hyena",
    "Ibex",
    "Ibis",
    "Jackal",
    "Jaguar",
    "Jay",
    "Jellyfish",
    "Kangaroo",
    "Kingfisher",
    "Koala",
    "Kookabura",
    "Kouprey",
    "Kudu",
    "Lapwing",
    "Lark",
    "Lemur",
    "Leopard",
    "Lion",
    "Llama",
    "Lobster",
    "Locust",
    "Loris",
    "Louse",
    "Lyrebird",
    "Magpie",
    "Mallard",
    "Manatee",
    "Mandrill",
    "Mantis",
    "Marten",
    "Meerkat",
    "Mink",
    "Mole",
    "Mongoose",
    "Monkey",
    "Moose",
    "Mosquito",
    "Mouse",
    "Mule",
    "Narwhal",
    "Newt",
    "Nightingale",
    "Octopus",
    "Okapi",
    "Opossum",
    "Oryx",
    "Ostrich",
    "Otter",
    "Owl",
    "Oyster",
    "Panther",
    "Parrot",
    "Partridge",
    "Peafowl",
    "Pelican",
    "Penguin",
    "Pheasant",
    "Pig",
    "Pigeon",
    "Pony",
    "Porcupine",
    "Porpoise",
    "Quail",
    "Quelea",
    "Quetzal",
    "Rabbit",
    "Raccoon",
    "Rail",
    "Ram",
    "Rat",
    "Raven",
    "Red deer",
    "Red panda",
    "Reindeer",
    "Rhinoceros",
    "Rook",
    "Salamander",
    "Salmon",
    "Sand Dollar",
    "Sandpiper",
    "Sardine",
    "Scorpion",
    "Seahorse",
    "Seal",
    "Shark",
    "Sheep",
    "Shrew",
    "Skunk",
    "Snail",
    "Snake",
    "Sparrow",
    "Spider",
    "Spoonbill",
    "Squid",
    "Squirrel",
    "Starling",
    "Stingray",
    "Stinkbug",
    "Stork",
    "Swallow",
    "Swan",
    "Tapir",
    "Tarsier",
    "Termite",
    "Tiger",
    "Toad",
    "Trout",
    "Turkey",
    "Turtle",
    "Viper",
    "Vulture",
    "Wallaby",
    "Walrus",
    "Wasp",
    "Weasel",
    "Whale",
    "Wildcat",
    "Wolf",
    "Wolverine",
    "Wombat",
    "Woodcock",
    "Woodpecker",
    "Worm",
    "Wren",
    "Yak",
    "Zebra",
]

### What are the ratings - for products that have enough ratings?

In [7]:
many_ratings = df[df["ratings_total"] > 100].reset_index(drop=True)

In [8]:
many_ratings[["title", "rating", "ratings_total"]].sort_values(
    "rating", ascending=False
).head()

,title,rating,ratings_total
4499,Let’s Make Memories Personalized Cuddle Time Rag Doll - Soft Doll for Kids - Ages 3+ - Mini-Me Doll – Light Brunette Hair - Customize Name – 15”H,5.0,111.0
2844,"GUND Finley Teddy Bear Plush Stuffed Animal, Brown, 13""",5.0,147.0
1890,"Bearington Twinkles Soft Plush Unicorn Tooth Fairy Doll, 14 Inches",5.0,113.0
3631,"GUND Hamlet Pig Stuffed Animal Plush, Blush Pink, 14""",5.0,116.0
2205,"Squishable / Mini Rosy Maple Moth 7"" Plush",5.0,116.0

### Get a dataframe listing all the words mentioned in the 'title' column and clean it up

In [9]:
words = (
    pd.DataFrame(
        df["title"]
        .str.replace(",", "", regex=False)
        .str.replace("|", "", regex=False)
        .str.replace("&", "", regex=False)
        .str.replace("-", "", regex=False)
        .str.strip()
        .str.split(expand=True)
        .stack()
        .value_counts(),
        columns=["count"],
    )
    .reset_index()
    .rename(columns={"index": "word"})
)

### Lowercase words

In [10]:
words["word"] = words["word"].str.lower()

### Make the list of animals lowercase, too

In [11]:
for i in range(len(animals)):
    animals[i] = animals[i].lower()

### Which product words match the animals list?

In [12]:
words_animal = words[words["word"].isin(animals)]

### Group by animal and sum

In [13]:
words_animal = (
    words_animal.groupby("word")
    .agg({"count": sum})
    .reset_index()
    .sort_values("count", ascending=False)
)

### Share for each animal out of all the animals

In [14]:
words_animal["share"] = (
    (words_animal["count"] / words_animal["count"].sum()) * 100
).round(2)

In [15]:
words_animal.head(20)

         word  count  share
11       bear    842  16.59
19        cat    456   8.99
34        dog    453   8.93
33   dinosaur    255   5.02
128     tiger    198   3.90
50       frog    137   2.70
41   elephant    135   2.66
105    rabbit    126   2.48
86      mouse    121   2.38
117     shark    110   2.17
100       pig    103   2.03
84     monkey    103   2.03
98    penguin     97   1.91
49        fox     95   1.87
61   hedgehog     95   1.87
75       lion     79   1.56
52    giraffe     78   1.54
37       duck     66   1.30
132    turtle     65   1.28
72      koala     58   1.14