# Chinese exports by year, country and commodity

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import altair as alt
import glob

In [3]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: "%.2f" % x)

---

In [4]:
### QUESTIONS

---

### Read processed trade data

In [12]:
df = pd.read_csv(
    "../data/processed/exports_xingjiang_all_countries.csv",
    dtype={
        "commodity_code": str,
        "commodity_chapter": str,
        "commodity_chapter_four": str,
    },
)

In [6]:
df.head()

,year,commodity_code,commodity_chapter,commodity_chapter_four,commodity_chapter_desc,us_dollar,exported_to,exported_from
0,2020,02074500,02,0207,Meat and edible meat offal,1113600,Kyrgyzstan,Xingjiang Uygur
1,2021,02074500,02,0207,Meat and edible meat offal,717456,Kyrgyzstan,Xingjiang Uygur
2,2020,07019000,07,0701,Vegetables and certain roots and tubers; edible,8760,Kyrgyzstan,Xingjiang Uygur
3,2020,07020000,07,0702,Vegetables and certain roots and tubers; edible,73121,Kyrgyzstan,Xingjiang Uygur
4,2020,07032010,07,0703,Vegetables and certain roots and tubers; edible,3206533,Kyrgyzstan,Xingjiang Uygur

---

### Exports to countries

In [7]:
xinjiang_exports = df.groupby(["exported_to"]).agg({"us_dollar": sum}).reset_index()

In [8]:
xinjiang_exports.sort_values("us_dollar", ascending=False).head(10)

            exported_to   us_dollar
79           Kazakhstan  8698929415
83           Kyrgyzstan  5723007909
157          Tajikistan  1083374747
134  Russian Federation   981599023
172          Uzbekistan   719418031
175             Vietnam   520072761
69                India   423621018
170       United States   380381550
159            Thailand   251554562
75                Italy   234212249

---

### Most exported commodity types

In [9]:
df.head()

,year,commodity_code,commodity_chapter,commodity_chapter_four,commodity_chapter_desc,us_dollar,exported_to,exported_from
0,2020,02074500,02,0207,Meat and edible meat offal,1113600,Kyrgyzstan,Xingjiang Uygur
1,2021,02074500,02,0207,Meat and edible meat offal,717456,Kyrgyzstan,Xingjiang Uygur
2,2020,07019000,07,0701,Vegetables and certain roots and tubers; edible,8760,Kyrgyzstan,Xingjiang Uygur
3,2020,07020000,07,0702,Vegetables and certain roots and tubers; edible,73121,Kyrgyzstan,Xingjiang Uygur
4,2020,07032010,07,0703,Vegetables and certain roots and tubers; edible,3206533,Kyrgyzstan,Xingjiang Uygur

In [10]:
xinjiang_exports_types = (
    df.groupby(["year", "commodity_chapter_four"]).agg({"us_dollar": sum}).reset_index()
)

In [11]:
xinjiang_exports_types[xinjiang_exports_types["commodity_chapter"] == "52"].sort_values(
    "us_dollar", ascending=False
).head(10)

KeyError: 'commodity_chapter'

In [ ]:
xinjiang_exports_types_pivot = (
    xinjiang_exports_types.pivot_table(
        columns="year", index="commodity_chapter_desc", values="us_dollar"
    )
    .fillna(0)
    .reset_index()
)

In [ ]:
xinjiang_exports_types_pivot.columns = xinjiang_exports_types_pivot.columns.astype(str)

In [ ]:
xinjiang_exports_types_pivot["2021"] = xinjiang_exports_types_pivot["2021"].round(0)

xinjiang_exports_types_pivot.sort_values("2020", ascending=False).head(10)

In [ ]:
xinjiang_exports_types_pivot["change"] = (
    xinjiang_exports_types_pivot["2021"] - xinjiang_exports_types_pivot["2020"]
) / xinjiang_exports_types_pivot["2020"]

In [ ]:
xinjiang_exports_types_pivot.sort_values("change", ascending=False).head(10)

---

### Chapter 28 exports

In [ ]:
xinjiang_28_exports = (
    df[df["commodity_chapter"] == "28"]
    .groupby(["commodity_chapter_desc", "exported_to"])
    .agg({"us_dollar": sum})
    .reset_index()
)

In [ ]:
xinjiang_28_exports.sort_values("us_dollar", ascending=False).head(20)