# XinJiang exports by month and commodity

### Import Python tools and Jupyter configuration

In [2]:
%load_ext lab_black

In [16]:
import pandas as pd
import geopandas as gpd
import altair as alt
from datetime import timedelta
import numpy as np
import glob

In [17]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

### Import processed data

In [43]:
src = pd.read_csv(
    "../data/raw/China exports to the US 2021 Chinese raw.csv", encoding="GBK"
)

In [44]:
src.columns = (
    src.columns.str.replace(r"\t", "", regex=True)
    .str.replace(" ", "_", regex=False)
    .str.lower()
)

In [45]:
src.rename(
    columns={
        "数据年月": "date_of_data",
        "商品编码": "commodity_code",
        "商品名称": "commodity_name",
        "贸易伙伴编码": "trade_partner_code",
        "贸易伙伴名称": "trade_partner_name",
        "注册地编码": "registration_place_code",
        "注册地名称": "registration_place_name",
        "第一数量": "first_quantity",
        "第一计量单位": "first_unit_of_measure",
        "第二数量": "second_quantity",
        "第二计量单位": "second_unit_of_measure",
        "美元": "us_dollar",
    },
    inplace=True,
)

In [46]:
src = src.replace(r"\t", "", regex=True)

In [53]:
src["us_dollar"] = src["us_dollar"].str.replace(",", "", regex=False).astype(int)

In [49]:
src.drop(["unnamed:_5"], axis=1, inplace=True)

In [57]:
df = src.head()

In [58]:
df.head()

,trade_partner_code,trade_partner_name,first_quantity,second_quantity,us_dollar
0,502,美国,166955032831,326430267236,576114268480

In [56]:
(265163179 / df["us_dollar"]) * 100

0    0.046026
Name: us_dollar, dtype: float64