# Datawrapper API

#### Load Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
from datawrapper import Datawrapper
from datetime import date

In [3]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

#### Use the Datawrapper API library to update the data in [this sample chart](https://app.datawrapper.de/chart/emXrI/publish)

In [4]:
token = !echo $dw_api
dw = Datawrapper(access_token=token[0])

In [5]:
dw.account_info()

{'id': 393404,
 'email': 'mstiles@mipo.news',
 'name': None,
 'role': 'editor',
 'language': 'en-US',
 'teams': [{'id': '1NhUBkSc',
   'name': 'Grid',
   'url': '/v3/teams/1NhUBkSc',
   'active': True}],
 'chartCount': 99,
 'url': '/v3/users/393404',
 'activeTeam': '1NhUBkSc'}

---

#### Sample dataset

In [6]:
df = pd.read_csv("data/raw/air_quality_slope.csv")

#### Give it an update date

In [7]:
df["Updated"] = str(date.today())

In [8]:
df

   Beijing  Chengdu  Chongqing  Shanghai  Tianjin  Year     Updated
0     75.7     66.3       56.5      47.5     72.5  2008  2022-02-21
1     85.2     70.3       56.2      50.2     77.6  2013  2022-02-21
2     37.9     35.4       29.0      28.1     47.4  2020  2022-02-21

#### Send an updated data set (a 200 response is what we need)

In [9]:
dw.add_data(chart_id="emXrI", data=df)