In [2]:
import geopandas as gpd

In [11]:
gdf = gpd.read_file('https://raw.githubusercontent.com/stiles/notebooks/3cb2b2f50b94d4162899653d3f472790a077fad5/california-fuel-vehicles/input/WealthiestZipCodesCA.json')

In [15]:
gdf_slim = gdf[['OBJECTID', 'ID', 'NAME', 'ST_ABBREV', 'HAI_CY', 'INCMORT_CY',
       'WLTHRNK_CY', 'DOMSTATE', 'DOMCOUNTY', 'COUNTY_NAME', 'DOMCBSA',
       'CBSA_NAME', 'TOTPOP_CY', 'TOTHH_CY', 'MEDAGE_CY', 'AVGHINC_CY',
       'AVGVAL_CY', 'AVGNW_CY']]

In [16]:
gdf_slim.columns = gdf_slim.columns.str.lower()

In [17]:
# gdf_slim.rename(columns={"id": "zip",
#                                                     'name':'name',
#                                  'avghinc_cy':'avg_house_income',
#                                  'avgnw_cy':'avg_net_worth',
#                                  'totpop_cy':'population', }, inplace=True)

In [18]:
gdf_slim.to_csv('output/es')

,objectid,id,name,st_abbrev,hai_cy,incmort_cy,wlthrnk_cy,domstate,domcounty,county_name,domcbsa,cbsa_name,totpop_cy,tothh_cy,medage_cy,avghinc_cy,avgval_cy,avgnw_cy
0,29014,90001,Los Angeles,CA,55,44.1,27675.0,06,06037,Los Angeles County,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",59907,13454,27.1,46931,377591,82915
1,29015,90002,Los Angeles,CA,59,41.2,27690.0,06,06037,Los Angeles County,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",53573,12115,26.7,46332,331694,96786
2,29016,90003,Los Angeles,CA,52,46.6,28202.0,06,06037,Los Angeles County,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",71967,16771,27.1,43020,358057,66091
3,29017,90004,Los Angeles,CA,21,114.5,20202.0,06,06037,Los Angeles County,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",63987,23021,35.8,65893,909580,232653
4,29018,90005,Los Angeles,CA,22,111.5,26028.0,06,06037,Los Angeles County,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",41844,17067,35.8,53191,836569,105569