# Hawaii visitors

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt
import altair_latimes as lat
import datetime as dt
import glob
import os

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

In [59]:
today = dt.datetime.today().strftime("%Y-%m-%d")

---

### Read the [downloaded data](http://dbedt.hawaii.gov/visitor/tourismdata/) and transpose it

In [83]:
src = pd.read_csv("data/raw/monthly-total-visitors.csv").T

### Remove unwanted data rows, drop and rename columns

In [84]:
src = src.iloc[4:].reset_index()

In [85]:
src.drop([1, 2, 3, 4], axis=1, inplace=True)

In [86]:
src.rename(columns={"index": "month", 0: "visitors"}, inplace=True)

### Get visitors, month columns in a format we can use

In [95]:
src["visitors"] = src["visitors"].str.replace(",", "", regex=False)

In [96]:
src["month"] = pd.to_datetime(src["month"])