# Scrape RMB Explorer tables

In [21]:
import pandas as pd
import datetime

In [23]:
today = datetime.today().strftime("%Y%m%d")

AttributeError: module 'datetime' has no attribute 'today'

In [20]:
today

Timestamp('2021-12-23 11:24:00.583413')

### Base URL

In [2]:
url = 'https://portal.legalcallsonly.org/List/RoboMitigate?ord=0&off='

### Make a list of all the urls based on pagination system

In [3]:
urls = []
for r in range(0,6900, 50):
    urls.append(url + str(r))

### Scrape the pages into a list of tables

In [4]:
tables = []
for u in urls: 
    tables.append(pd.read_html(u)[0])

### Concatenate into one dataframe

In [5]:
df = pd.concat(tables).reset_index(drop=True)

In [6]:
# https://portal.legalcallsonly.org/List/RoboMitigate?ord=0&off=0
df.head()

,Name,Location,Stir/Shaken,PDF,Score,Created On,Updated On,Unnamed: 7
0,BLANKDBA: Tech Man Inc,Lutz FL,No S/S,RMP,LR,2021-09-22,NaN,(1)
1,BLANKDBA: pats mobile service,Sunland CA,IntermedProvider,NaN,NaN,2021-09-13,NaN,NaN
2,BLANKDBA: copycall,santa monica CA,IntermedProvider,NaN,NaN,2021-09-21,NaN,(1)
3,BLANKDBA: VoiceWARE,Murphy TX,No S/S,RMP,4,2021-10-04,NaN,(1)
4,BLANK,West Palm Beach FL,Partial S/S,RMP,LR,2021-09-24,NaN,(1)

In [7]:
# https://portal.legalcallsonly.org/List/RoboMitigate?ord=0&off=6850
df.tail()

,Name,Location,Stir/Shaken,PDF,Score,Created On,Updated On,Unnamed: 7
6888,Zumbrota Telephone Company,Zumbrota MN,No S/S,RMP,LR,2021-06-23,NaN,(5)
6889,ZXEER LLC,San Francisco CA,IntermedProvider,NaN,NaN,2021-11-22,NaN,NaN
6890,"Zyfexx, Inc.",Portsmouth OH,Complete S/S,NaN,NaN,2021-09-27,NaN,(1)
6891,zyis digital,plantation FL,Complete S/S,NaN,NaN,2021-09-30,NaN,(1)
6892,"Zymos Computer Systems Inc, DBA ZiD Internet",CanadaFOREIGN,No S/S,RMP,LR,2021-09-27,NaN,NaN

### Export table

In [ ]:
df.to_csv(f'rmb_explorer_table{today}.csv', index=False)