# FBI background checks - States and categories

### Import Python tools and Jupyter configuration

In [2]:
%load_ext lab_black

In [4]:
import pandas as pd
import geopandas as gpd
import altair as alt
import datetime as dt
import numpy as np

In [5]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [6]:
month_year_updated = dt.date.today().strftime("%m_%Y")

---

### Bless you @jsvine

In [7]:
url = "https://raw.githubusercontent.com/BuzzFeedNews/nics-firearm-background-checks/master/data/nics-firearm-background-checks.csv"

### Read data

In [8]:
src = pd.read_csv(url)

### Exclude permits figures

In [10]:
src["totals_no_permits"] = src["totals"] - src["permit"]

In [12]:
src[["month", "state", "handgun", "long_gun", "totals"]]

         month          state  handgun  long_gun  totals
0      2021-11        Alabama  22126.0   21230.0   74158
1      2021-11         Alaska   3162.0    3248.0    7342
2      2021-11        Arizona  20104.0   10905.0   38933
3      2021-11       Arkansas   8036.0   10394.0   23744
4      2021-11     California  40966.0   29795.0  112977
...        ...            ...      ...       ...     ...
15230  1998-11       Virginia     14.0       2.0      24
15231  1998-11     Washington     65.0     286.0     361
15232  1998-11  West Virginia    149.0     251.0     408
15233  1998-11      Wisconsin     25.0     214.0     241
15234  1998-11        Wyoming     45.0      49.0     107

[15235 rows x 5 columns]