### setup

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
import pageviewapi
import datetime as dt
from bs4 import BeautifulSoup
import altair as alt

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [4]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z"
)

In [5]:
diseases = [
    "Emphysema",
    "Other chronic lower respiratory diseases",
    "Heart attack",
    "Pneumonia",
    "Ischemic heart disease",
    "Stroke",
]
mrate_increase = [0.14, 0.11, 0.10, 0.10, 0.08, 0.08]

mean_mortality = [29.8, 114.2, 107.3]

mean_mortality = [29.8, 114.2, 107.3, 104.9, 158.0, 114.4]

start = [0, 0, 0, 0, 0, 0]


df = pd.DataFrame(
    {
        "disease": diseases,
        "increase_in_mortality": mrate_increase,
        "mean_mortality": mean_mortality,
        "start": start,
    }
)

In [6]:
# High heating costs can present households with difficult tradeoffs: set their homes to uncomfortably low temperatures, or reduce their spending in other areas, such as food and medical care. Either type of response can potentially increase health risks.

In [7]:
df["end"] = df["mean_mortality"] * (1 + (df["increase_in_mortality"] / 100))

In [8]:
dw.add_data(chart_id="cVFZD", data=df)

In [9]:
df

,disease,increase_in_mortality,mean_mortality,start,end
0,Emphysema,0.14,29.8,0,29.84172
1,Other chronic lower respiratory diseases,0.11,114.2,0,114.32562
2,Heart attack,0.10,107.3,0,107.40730
3,Pneumonia,0.10,104.9,0,105.00490
4,Ischemic heart disease,0.08,158.0,0,158.12640
5,Stroke,0.08,114.4,0,114.49152