### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
import pageviewapi
import datetime as dt
from bs4 import BeautifulSoup
import altair as alt

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [4]:
import altair as alt
import altair_grid as altgrid

alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [5]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="PU52xuCQowgE5BFprvdnpFXzd5Ql9ISOSLBk58eNR2ykPztw0yC5fpqLTfsZdhyR"
)

In [6]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

In [7]:
from df2gspread import df2gspread as d2g

scope = ["https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    "jupyter-integration.json", scope
)
gc = gspread.authorize(credentials)

In [8]:
# spreadsheet_key = ""

wks_name = ""
d2g.upload(
    df,
    spreadsheet_key,
    wks_name,
    credentials=credentials,
    row_names=False,
)

### read in data

In [9]:
df = pd.read_csv("data/raw/energy-consumption-by-source-and-region.csv")

In [10]:
df.columns = df.columns.str.lower()

In [12]:
df.columns = [
    "entity",
    "code",
    "year",
    "geo_biomass",
    "biofuels",
    "solar",
    "wind",
    "hydro",
    "nuclear",
    "gas",
    "coal",
    "oil",
]

In [14]:
df_africa = df[df["entity"] == "Africa"]

In [15]:
df_africa

,entity,code,year,geo_biomass,biofuels,solar,wind,hydro,nuclear,gas,coal,oil
0,Africa,NaN,1965,0.000000,0.0,0.000000,0.000000,41.118813,0.000000,9.543755,323.496124,341.262756
1,Africa,NaN,1966,0.000000,0.0,0.000000,0.000000,45.862915,0.000000,10.669916,323.122192,369.486572
2,Africa,NaN,1967,0.000000,0.0,0.000000,0.000000,47.875538,0.000000,10.545670,330.291565,368.125244
3,Africa,NaN,1968,0.000000,0.0,0.000000,0.000000,56.000469,0.000000,10.688970,343.512909,389.199860
4,Africa,NaN,1969,0.000000,0.0,0.000000,0.000000,65.352089,0.000000,12.492000,346.642944,396.922852
5,Africa,NaN,1970,0.000000,0.0,0.000000,0.000000,81.702881,0.000000,15.520325,360.756897,433.772308
6,Africa,NaN,1971,0.164000,0.0,0.000000,0.000000,76.921318,0.000000,18.405264,383.012329,473.565430
7,Africa,NaN,1972,0.165000,0.0,0.000000,0.000000,87.625046,0.000000,24.670656,384.210815,510.672638
8,Africa,NaN,1973,0.170000,0.0,0.000000,0.000000,92.688919,0.000000,39.551792,408.910339,549.719788
9,Africa,NaN,1974,0.175000,0.0,0.000000,0.000000,105.467155,0.000000,44.518486,425.646210,567.799683
10,Africa,NaN,1975,0.172000,0.0,0.000000,0.000000,111.531631,0.000000,53.638378,451.080505,596.404663
11,Africa,NaN,1976,0.185000,0.0,0.000000,0.000000,123.595154,0.000000,60.981392,481.074158,652.580444
12,Africa,NaN,1977,0.189000,0.0,0.000000,0.000000,135.810867,0.000000,68.234192,491.698456,695.166321
13,Africa,NaN,1978,0.195000,0.0,0.000000,0.000000,136.929123,0.000000,97.369904,477.815582,732.181030
14,Africa,NaN,1979,0.201000,0.0,0.000000,0.000000,146.563858,0.000000,148.842819,507.246979,770.938660
15,Africa,NaN,1980,0.207000,0.0,0.000000,0.000000,142.857422,0.000000,186.913971,543.557068,817.238892
16,Africa,NaN,1981,0.218000,0.0,0.000000,0.000000,148.419891,0.000000,228.491165,635.798767,883.861877
17,Africa,NaN,1982,0.236000,0.0,0.000000,0.000000,148.459305,0.000000,246.733551,701.175903,925.227234
18,Africa,NaN,1983,0.230000,0.0,0.000000,0.000000,133.795364,0.000000,271.275330,713.246033,964.552185
19,Africa,NaN,1984,0.234000,0.0,0.000000,0.000000,131.556366,11.137246,259.902771,762.897827,981.752075
20,Africa,NaN,1985,0.269000,0.0,0.000000,0.000000,146.222183,15.081392,278.842743,787.165894,1007.091858
21,Africa,NaN,1986,0.659000,0.0,0.000000,0.000000,151.236313,24.978643,313.271210,805.356079,988.593140
22,Africa,NaN,1987,0.658000,0.0,0.000000,0.000000,145.059418,17.498955,323.384369,828.319702,1042.068604
23,Africa,NaN,1988,0.626000,0.0,0.000000,0.000000,158.475281,29.774044,358.444550,890.160767,1086.268188
24,Africa,NaN,1989,0.617000,0.0,0.000000,0.000000,166.408157,31.493578,371.471039,835.620850,1123.926514
25,Africa,NaN,1990,0.796000,0.0,0.000000,0.000000,169.301407,23.974163,398.645386,877.678284,1142.402832
26,Africa,NaN,1991,0.812000,0.0,0.000000,0.000000,179.345810,25.946238,401.635590,853.762146,1148.705200
27,Africa,NaN,1992,0.842250,0.0,0.000000,0.000000,171.092255,26.354839,421.270264,858.831177,1170.524658
28,Africa,NaN,1993,0.937700,0.0,0.000000,0.005917,167.609558,20.586170,412.643982,871.713928,1180.076660
29,Africa,NaN,1994,0.835000,0.0,0.000000,0.015972,170.310898,27.515383,431.827942,894.447815,1221.884644
30,Africa,NaN,1995,1.018700,0.0,0.000000,0.018639,176.735916,32.066753,461.243500,922.471252,1266.781738
31,Africa,NaN,1996,1.258093,0.0,0.000000,0.021000,184.269104,33.411739,484.191772,935.228210,1293.971191
32,Africa,NaN,1997,1.386640,0.0,0.000000,0.021278,188.811157,35.886051,474.475525,959.019104,1332.273071
33,Africa,NaN,1998,1.712549,0.0,0.000000,0.022472,197.097794,38.593040,499.336975,937.038940,1363.508667
34,Africa,NaN,1999,1.696125,0.0,0.000000,0.058539,209.012604,36.425179,504.019623,966.010681,1414.560181
35,Africa,NaN,2000,2.269063,0.0,0.035314,0.518951,222.530640,36.916069,556.822388,963.730591,1420.386475
36,Africa,NaN,2001,2.335353,0.0,0.043956,1.220886,237.576309,30.217819,634.636169,975.926270,1432.664307
37,Africa,NaN,2002,2.286400,0.0,0.049044,1.294748,248.178192,33.585613,670.605408,934.421570,1479.166504
38,Africa,NaN,2003,2.622400,0.0,0.058159,1.553292,239.476593,35.240459,711.506714,1017.048401,1524.815063
39,Africa,NaN,2004,2.978850,0.0,0.070791,2.213917,251.336166,36.957527,783.068176,1119.161865,1586.510742
40,Africa,NaN,2005,3.009669,0.0,0.084134,2.234557,254.379181,31.029053,807.781555,1039.072632,1654.919189
41,Africa,NaN,2006,3.770405,0.0,0.107862,2.425894,261.917664,27.375380,843.442078,1054.097046,1673.716797
42,Africa,NaN,2007,3.142048,0.0,0.142733,2.873494,269.185455,30.707249,900.069641,1071.633301,1734.740723
43,Africa,NaN,2008,3.267396,0.0,0.204168,3.686173,272.483490,35.065552,935.162109,1180.725098,1824.850952
44,Africa,NaN,2009,3.562722,0.0,0.267598,4.438265,278.045593,34.318481,940.860657,1176.002075,1885.976318
45,Africa,NaN,2010,3.764553,0.0,0.599661,6.341039,298.925629,36.028275,980.731812,1164.840088,1966.214600
46,Africa,NaN,2011,3.858768,0.0,1.660956,6.583540,305.522400,34.154095,1060.526978,1147.299316,1934.170898
47,Africa,NaN,2012,4.042407,0.0,2.721807,6.897696,304.977051,34.119267,1146.770386,1118.487061,2046.829956
48,Africa,NaN,2013,4.433249,0.0,2.146321,9.793645,320.652069,36.891415,1169.745483,1130.160645,2121.441406
49,Africa,NaN,2014,5.462047,0.0,5.158529,13.708232,336.150421,35.859425,1202.319946,1183.806030,2143.333496
50,Africa,NaN,2015,7.169682,0.0,8.775349,23.996231,324.273712,31.622433,1325.359863,1119.038574,2199.145020
51,Africa,NaN,2016,7.231852,0.0,14.413415,29.919565,314.354767,38.599907,1370.495117,1186.287964,2210.926025
52,Africa,NaN,2017,7.626036,0.0,20.687313,33.152901,336.231903,36.245564,1448.744873,1185.067139,2233.089844
53,Africa,NaN,2018,8.172670,0.0,26.598930,39.075588,356.115082,29.399641,1543.550781,1163.599854,2257.501953
54,Africa,NaN,2019,8.262966,0.0,33.988991,50.957653,367.500946,34.390652,1549.729980,1231.316772,2262.036133
55,Africa,NaN,2020,8.066416,0.0,42.175068,55.947571,384.418030,35.155136,1535.972412,1157.901123,2011.052612
56,Africa,NaN,2021,8.026317,0.0,43.215038,63.888702,401.447144,26.174700,1643.815063,1168.740601,2183.541992

In [19]:
# dw.create_chart(
#    "Africa energy mix",
#    chart_type="d3-area",
#    data=df_africa,
# )
# area_id="q7UHXs"
# donut_id = "k1SWU"

In [24]:
df_share = df_africa[df_africa["year"] == 2021].melt(
    value_vars=[
        "geo_biomass",
        "biofuels",
        "solar",
        "wind",
        "hydro",
        "nuclear",
        "gas",
        "coal",
        "oil",
    ]
)

In [26]:
total = df_share["value"].sum()

In [27]:
total

5538.849556922913

In [30]:
df_share["pct"] = 100 * df_share["value"] / total

In [31]:
df_share

      variable        value        pct
0  geo_biomass     8.026317   0.144909
1     biofuels     0.000000   0.000000
2        solar    43.215038   0.780217
3         wind    63.888702   1.153465
4        hydro   401.447144   7.247843
5      nuclear    26.174700   0.472566
6          gas  1643.815063  29.677915
7         coal  1168.740601  21.100783
8          oil  2183.541992  39.422302

In [32]:
dw.add_data(chart_id=donut_id, data=df_share)

In [34]:
dw.add_data(chart_id="9Jaja", data=df_africa)

In [45]:
sum_cols = ["geo_biomass", "biofuels", "solar", "wind", "nuclear"]

In [47]:
df_africa["other"] = (
    df_africa["geo_biomass"]
    + df_africa["biofuels"]
    + df_africa["solar"]
    + df_africa["wind"]
    + df_africa["nuclear"]
)

In [55]:
df_africa_pct = df_africa[["year", "hydro", "oil", "gas", "coal", "other"]]

In [54]:
#dw.create_chart(
#    chart_type="d3-area",
#    data=df_africa[["year", "hydro", "oil", "gas", "coal", "other"]],
#)
areachart="08C5b"

In [56]:
df_africa_pct["total"] = (
    df_africa_pct["other"]
    + df_africa_pct["hydro"]
    + df_africa_pct["oil"]
    + df_africa_pct["gas"]
    + df_africa_pct["coal"]
)

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/3978420440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['total']=(

In [58]:
df_africa_pct["hydro_pct"] = 100 * (df_africa_pct["hydro"] / df_africa_pct["total"])
df_africa_pct["oil_pct"] = 100 * (df_africa_pct["oil"] / df_africa_pct["total"])
df_africa_pct["gas_pct"] = 100 * (df_africa_pct["gas"] / df_africa_pct["total"])
df_africa_pct["coal_pct"] = 100 * (df_africa_pct["coal"] / df_africa_pct["total"])
df_africa_pct["other_pct"] = 100 * (df_africa_pct["other"] / df_africa_pct["total"])

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/1427974286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['hydro_pct']=100*(df_africa_pct['hydro']/df_africa_pct['total'])
/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/1427974286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['oil_pct']=100*(df_africa_pct['oil']/df_africa_pct['total'])
/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/1427974286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['gas_pct']=100*(df_africa_pct['gas']/df_africa_pct['total'])
/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/1427974286.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['coal_pct']=100*(df_africa_pct['coal']/df_africa_pct['total'])
/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_13345/1427974286.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa_pct['other_pct']=100*(df_africa_pct['other']/df_africa_pct['total'])

In [63]:
pct_area_chart = "MBIC6"
dw.add_data(
    chart_id=pct_area_chart,
    data=df_africa_pct[
        ["year", "hydro_pct", "oil_pct", "gas_pct", "coal_pct", "other_pct"]
    ],
)