### setup

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
import pageviewapi
import datetime as dt
from bs4 import BeautifulSoup
import altair as alt
import datetime as dt

In [3]:
import altair_grid as altgrid

alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [4]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [5]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="PU52xuCQowgE5BFprvdnpFXzd5Ql9ISOSLBk58eNR2ykPztw0yC5fpqLTfsZdhyR"
)

In [6]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

In [7]:
scope = ["https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    "jupyter-integration.json", scope
)
gc = gspread.authorize(credentials)

In [8]:
#%pip install df2gspread

In [9]:
from df2gspread import df2gspread as d2g

In [10]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

In [11]:
scope = ["https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    "jupyter-integration.json", scope
)
gc = gspread.authorize(credentials)

In [12]:
# Opening the worksheet by using Worksheet ID

spreadsheet_key = "1IUYlGHQ6l87G6_LVeNlfsdI02cTLvll9mNw0-HVJ4ZI"
workbook = gc.open_by_key(spreadsheet_key)

In [13]:
# Selecting which sheet to pulling the data
sheet = workbook.worksheet("Sheet1")
# Pulling the data and transform it to the data frame
values = sheet.get_all_values()
flagcodes = pd.DataFrame(values[1:], columns=values[0])

### create df

In [14]:
countries = [
    "United States of America",
    "Argentina",
    "Australia",
    "Brazil",
    "Chile",
    "China",
    "Portugal",
    "Zimbabwe",
]
mining_2020 = ["NaN", 5900, 39700, 1420, 21500, 13300, 348, 417]
mining_2021 = [5000, 6200, 55000, 1500, 26000, 14000, 900, 1200]
reserves = [750000, 2200000, 5700000, 95000, 9200000, 1500000, 60000, 220000]

In [15]:
country_resources = [
    "United States of America",
    "Bolivia",
    "Argentina",
    "Chile",
    "Australia",
    "China",
    "Democratic Republic of the Congo",
    "Canada",
    "Germany",
    "Mexico",
    "Czechia",
    "Serbia",
    "Russia",
    "Peru",
    "Mali",
    "Zimbabwe",
    "Brazil",
    "Spain",
    "Portugal",
    "Ghana",
    "Austria",
    "Finland",
    "Kazakhstan",
    "Namibia",
]
resources = [
    9100000,
    21000000,
    19000000,
    9800000,
    7300000,
    5100000,
    3000000,
    2900000,
    2700000,
    1700000,
    1300000,
    1200000,
    1000000,
    880000,
    700000,
    500000,
    470000,
    300000,
    270000,
    130000,
    60000,
    50000,
    50000,
    50000,
]

In [16]:
df_mining = pd.DataFrame(
    {
        "country": countries,
        "mining_2021": mining_2021,
        "reserves": reserves,
        "text": mining_2021,
    }
)

In [17]:
flagcodes.columns = flagcodes.columns.str.lower()

In [18]:
df_table = df_mining.merge(flagcodes, on="country", how="left")

In [19]:
df_table["country"] = df_table["code"] + " " + df_table["country"]

In [20]:
df_mining

                    country  mining_2021  reserves   text
0  United States of America         5000    750000   5000
1                 Argentina         6200   2200000   6200
2                 Australia        55000   5700000  55000
3                    Brazil         1500     95000   1500
4                     Chile        26000   9200000  26000
5                     China        14000   1500000  14000
6                  Portugal          900     60000    900
7                  Zimbabwe         1200    220000   1200

In [21]:
df_resources = pd.DataFrame({"country": country_resources, "resources": resources})

In [22]:
df = df_resources.merge(df_mining, on="country", how="left")

In [23]:
# dw.add_data(chart_id="hFyXh", data=df_mining)
# dw.add_data(chart_id="WsvBJ", data=df_mining)

In [24]:
dw.add_data(chart_id="JVbb2", data=df_table)