In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
import urllib.request, json

In [4]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

In [5]:
current_locations = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhkh7ViRJzyQI3vg2IymuTZ94VDQuPlmZgFDlSB2Ub0LMT-2j2xBmxUnMmbLZbcyapUqRfbNr3Eh6/pub?output=xlsx",
    sheet_name="Current location of IDPs",
    skiprows=1,
)
origins = pd.read_excel(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhkh7ViRJzyQI3vg2IymuTZ94VDQuPlmZgFDlSB2Ub0LMT-2j2xBmxUnMmbLZbcyapUqRfbNr3Eh6/pub?output=xlsx",
    sheet_name="IDPs by Region of Origin",
    skiprows=1,
)

In [6]:
current_locations

  Macro-region  % IDPs location per M-R  # est. IDPs presence per macro-region
0         Kyiv                     0.10                                 626000
1         East                     0.31                                1923000
2        South                     0.09                                 605000
3       Center                     0.18                                1102000
4        North                     0.13                                 821000
5         West                     0.19                                1166000

In [7]:
origins

  Marco-region  % IDPs origin per M-R  # est. Departed
0         Kyiv                   0.10           605000
1         East                   0.63          3953000
2        South                   0.19          1210000
3         West                   0.01            43000
4        North                   0.06           346000
5       Center                   0.01            86000

### Outputs

In [8]:
current_locations.to_csv("data/processed/idp_current.csv", index=False)

origins.to_csv("data/processed/idp_origin.csv", index=False)

In [9]:
origins.columns = ["macro_region", "idps_pct", "est_departed"]

In [11]:
origins["est_departed"].sum()

6243000

In [12]:
current_locations.columns = ["macro_region", "idps_pct", "est_displaced"]

In [13]:
current_locations["est_displaced"].sum()

6243000