# LA County local rolls

In [3]:
import pandas as pd
import glob

In [ ]:
import altair as alt
import altair_latimes as lat
import numpy as np
alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

In [35]:
src = pd.read_csv('https://parcels-lacounty.s3.us-west-1.amazonaws.com/all_2021.csv', encoding='ISO-8859-1', low_memory=False,)

In [51]:
catholic = src[src.first_owner_assessee_name.fillna("").str.contains('ROMAN CATHOLIC ARCHBISHOP|ARCHDIOCESE')]

In [52]:
catholic.to_csv('output/catholic_parcels_lacounty.csv', index=False)

In [53]:
len(catholic)

In [60]:
catholic.head()

,assessor_identification_number,taxrate_area,administrative_region_number,common_area_key,year_sold_to_state,recording_date,land_value,improvement_value,gross_personal_property_key,filler,fixture_value,real_estate_exemption,personal_property_exemption,fixture_exemption_value,homeowner's_exemption,first_owner_assessee_name,first_owner_assessee_name_overflow,second_owner_assessee_name,special_name_assessee,situs_address_key,situs_address_date_of_last_change,situs_address_postal_city_code,situs_address_house_number,situs_address_fraction,situs_address_direction,situs_address_unit,situs_address_zip_code,situs_address_street_name,situs_address_city_and_state,mail_address_key,mail_address_date_of_last_change,mail_address_postal_city_code,mail_address_house_number,mail_address_fraction,mail_address_direction,mail_address_unit,mail_address_zip_code,mail_address_street_name,mail_address_city_and_state,legal_description_-_last_line_narrative,legal_description_-_last_line_lot,legal_description_-_last_line_division,legal_description_-_last_line_region,legal_description_line_one,legal_description_line_two,legal_description_line_three,legal_description_line_four,legal_description_line_five,zoning_code,use_code,effective_year,year_built,building_-_square_feet_-_main
3745,7416020037,400,26.0,0,0,19670145,144200,661934,4,0,0,795165,25000,0,0,ARCHDIOCESE OF L A EDUC,AND WELFARE CORP,ST PETER AND PAUL,NaN,D,19930701,103,706,NaN,NaN,NaN,907440000,BAY VIEW AVE,LOS ANGELES CA,F,20120404,0,3424,NaN,NaN,4TH FL,900100000,WILSHIRE BLVD,LOS ANGELES CA,EX OF STS LOT 10,NaN,NaN,NaN,"TR=9459 LOT 8 AND EX OF ST LOT 7,9 AND",NaN,NaN,NaN,NaN,LARD1.5,7200,0,0,0
3746,7416020038,400,26.0,0,0,19660000,246818,3951,Ã¿,0,0,0,0,0,0,ROMAN CATHOLIC ARCHBISHOP OF L A,NaN,WILMINGTON,NaN,D,20010510,103,600,NaN,W,NaN,907440000,ANAHEIM ST,WILMINGTON CA,F,20120404,0,3424,NaN,NaN,4TH FL,900100000,WILSHIRE BLVD,LOS ANGELES CA,",1,2,3,4,5 AND 6",NaN,NaN,NaN,"TR=9459 POR LOT B,ALL LOTS A,C,D,E,F,G,H",NaN,NaN,NaN,NaN,LAC2,2700,1963,1963,5000
3873,7416024023,400,26.0,0,0,19670145,64521,110735,4,0,0,175256,5000,0,0,ARCHDIOCESE OF L A EDUC,AND WELFARE CORP,S S PETER AND PAUL,NaN,D,19930701,103,943,NaN,NaN,NaN,907440000,LAGOON AVE,LOS ANGELES CA,F,20120404,0,3424,NaN,NaN,4TH FL,900100000,WILSHIRE BLVD,LOS ANGELES CA,NaN,24,NaN,NaN,"PERNELIA TRACT NO 22,23 AND",NaN,NaN,NaN,NaN,LARD2,7100,1951,1951,6030
5850,7420026002,400,26.0,0,0,19661011,16732,1324,Ã¿,0,0,18056,0,0,0,ROMAN CATHOLIC ARCHBISHOP OF L A,NaN,NaN,NaN,D,0,0,0,NaN,NaN,NaN,0,NaN,NaN,F,20120404,0,3424,NaN,NaN,4TH FL,900100000,WILSHIRE BLVD,LOS ANGELES CA,TRACT # 573,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAR1,2700,1966,1966,5600
5851,7420026003,400,26.0,0,0,19670145,16732,1776,Ã¿,0,0,18508,0,0,0,ROMAN CATHOLIC ARCHBISHOP OF L A,NaN,NaN,NaN,D,0,0,0,NaN,NaN,NaN,0,NaN,NaN,F,20120404,0,3424,NaN,NaN,4TH FL,900100000,WILSHIRE BLVD,LOS ANGELES CA,TRACT # 573,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAR1,2700,1966,1966,5600

---

### Use codes lookup

In [55]:
use_df = pd.read_csv('input/use_lookup.csv')

In [59]:
use_df.head()

  usecode      usetype usedescription
0    0100  Residential         Single
1    0101  Residential         Single
2    0102  Residential         Single
3    0103  Residential         Single
4    0104  Residential         Single

---

### Merge with Catholic dataframe

In [63]:
merge = pd.merge(catholic, use_df, right_on='usecode', left_on='use_code')

In [64]:
merge.usedescription.value_counts()

Churches                                                     556
Schools (Private)                                            259
Single                                                       218
Parking Lots (Commercial Use Properties)                      97
Homes For Aged & Others                                       48
Commercial                                                    19
Two Units                                                     15
Government Parcel                                              9
Three Units (Any Combination)                                  9
Office Buildings                                               7
Clubs., Lodge Halls, Fraternal Organizations                   7
Four Units (Any Combination)                                   6
Five or more apartments                                        5
Store Combination                                              4
Auto, Recreation EQPT, Construction EQPT, Sales & Service      4
Professional Buildings                                         3
Stores                                                         2
Lgt Manf.Sm. EQPT. Manuf Sm.Shps Instr.Manuf. Prnt Plnts       2
Wholesale & Manufacturing Outlets                              1
Warehousing, Distribution, Storage                             1
Srvc Shps:Radio, TV, Refrig, Pnt Shp                           1
Banks Savings & Loan                                           1
Rooming Houses                                                 1
Name: usedescription, dtype: int64