# U.S. Census Bureau: Median age by tract

#### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

---

## Read data

#### Downloaded with [census-data-downloader](https://github.com/datadesk/census-data-downloader)

In [4]:
src = pd.read_csv(
    "data/raw/acs5_2019_medianage_tracts.csv",
    dtype={"tract": str, "county": str, "state": str, "geoid": str},
)

In [5]:
len(src)

72877

In [6]:
src[["tract_name", "county_name", "state_name"]] = src["name"].str.split(
    ",", expand=True
)

In [7]:
drop_cols = [
    "median_annotation",
    "median_moe_annotation",
    "median_moe_annotation",
    "male_annotation",
    "male_moe_annotation",
    "female_annotation",
    "female_moe_annotation",
    "name",
]

In [8]:
src_df = (
    src[src["median"] != -666666666.0]
    .drop(drop_cols, axis=1)
    .sort_values("median", ascending=False)
    .copy()
)

In [9]:
src_df.head()

,geoid,median,median_moe,male,male_moe,female,female_moe,state,county,tract,tract_name,county_name,state_name
16009,12071001915,82.8,1.1,85.0,3.2,82.4,1.2,12,071,001915,Census Tract 19.15,Lee County,Florida
45785,36081155101,82.1,4.2,81.8,4.2,82.2,6.3,36,081,155101,Census Tract 1551.01,Queens County,New York
42653,35049000400,80.0,6.3,72.1,16.3,80.6,5.7,35,049,000400,Census Tract 4,Santa Fe County,New Mexico
30363,24031703218,79.8,1.2,81.9,2.9,79.6,1.0,24,031,703218,Census Tract 7032.18,Montgomery County,Maryland
6602,06013351103,78.9,1.8,78.4,2.4,79.3,1.9,06,013,351103,Census Tract 3511.03,Contra Costa County,California

In [10]:
df = src_df[
    [
        "geoid",
        "tract",
        "tract_name",
        "county_name",
        "state_name",
        "median",
        "male",
        "female",
    ]
].copy()

In [11]:
df.head()

,geoid,tract,tract_name,county_name,state_name,median,male,female
16009,12071001915,001915,Census Tract 19.15,Lee County,Florida,82.8,85.0,82.4
45785,36081155101,155101,Census Tract 1551.01,Queens County,New York,82.1,81.8,82.2
42653,35049000400,000400,Census Tract 4,Santa Fe County,New Mexico,80.0,72.1,80.6
30363,24031703218,703218,Census Tract 7032.18,Montgomery County,Maryland,79.8,81.9,79.6
6602,06013351103,351103,Census Tract 3511.03,Contra Costa County,California,78.9,78.4,79.3