# USA Counties ESRI

In [3]:
import pandas as pd
import geopandas as gpd

In [4]:
gdf = gpd.read_file('/Users/stiles/data/gis/esri/USA_Counties.geojson')

In [6]:
gdf.columns = gdf.columns.str.lower()

In [15]:
df = gdf[['name', 'state_name', 'state_fips', 'cnty_fips',
       'fips', 'population', 'white',
       'black', 'ameri_es', 'asian', 'hawn_pi', 'hispanic', 'other',
       'mult_race', 'ave_hh_sz', 'hsehld_1_m',
       'hsehld_1_f', 'marhh_chd', 'marhh_no_c', 'mhh_child', 'fhh_child',
       'families', 'ave_fam_sz', 'hse_units', 'vacant', 'owner_occ',
       'renter_occ', 'no_farms12', 'ave_size12', 'crop_acr12', 'ave_sale12',
       'sqmi', 'no_farms17', 'ave_size17', 'crop_acr17', 'ave_sale17',
       'shape_length', 'shape_area']].copy()

In [16]:
df

,name,state_name,state_fips,cnty_fips,fips,population,white,black,ameri_es,asian,...,ave_size12,crop_acr12,ave_sale12,sqmi,no_farms17,ave_size17,crop_acr17,ave_sale17,shape_length,shape_area
0,Autauga,Alabama,01,001,01001,58224,42855,9643,232,474,...,287.0,41293.0,50929.0,604.13,371.0,305.0,36890.0,57844.0,2.137933,0.150198
1,Baldwin,Alabama,01,003,01003,227660,156153,17105,1216,1348,...,194.0,100901.0,137069.0,1640.33,842.0,208.0,110438.0,142972.0,6.693000,0.400159
2,Barbour,Alabama,01,005,01005,26326,13180,12875,114,107,...,358.0,41301.0,182761.0,904.49,498.0,307.0,37304.0,211977.0,2.690975,0.223268
3,Bibb,Alabama,01,007,01007,23066,17381,5047,64,22,...,298.0,12608.0,0.0,626.18,205.0,273.0,15823.0,20484.0,1.895169,0.156477
4,Blount,Alabama,01,009,01009,59970,53068,761,307,117,...,118.0,37147.0,143586.0,650.63,1146.0,129.0,43793.0,211916.0,2.452748,0.164407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,Vega Baja,Puerto Rico,72,145,72145,0,0,0,0,0,...,0.0,0.0,0.0,46.52,0.0,0.0,0.0,0.0,0.547839,0.010305
3216,Vieques,Puerto Rico,72,147,72147,0,0,0,0,0,...,0.0,0.0,0.0,51.00,0.0,0.0,0.0,0.0,1.260510,0.011278
3217,Villalba,Puerto Rico,72,149,72149,0,0,0,0,0,...,0.0,0.0,0.0,36.98,0.0,0.0,0.0,0.0,0.442161,0.008178
3218,Yabucoa,Puerto Rico,72,151,72151,0,0,0,0,0,...,0.0,0.0,0.0,55.03,0.0,0.0,0.0,0.0,0.735209,0.012165
3219,Yauco,Puerto Rico,72,153,72153,0,0,0,0,0,...,0.0,0.0,0.0,68.81,0.0,0.0,0.0,0.0,0.721879,0.015212